<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Add Employee | PayrollAdmin</title>

		<%-include('../../partials/jquery')%>
		<%-include('../../partials/react')%>
		<%-include('../../partials/bootstrap')%>

		<link href="/public/css/general.css" rel="stylesheet" type="text/css" />

	</head>
	<body>
		<div>
			<div id="header">
			</div>
		</div>
		<div id="body">
			<div class="container">
				<div class="row">
					<div class="col">
						<div id="main"
							 class="mt-4">
							<h1 class="text-center">Add Employee</h1>
							<div class="row justify-content-center">
								<div class="col col-lg-9 ">
									<div id="employees-main-content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
